body {
    margin: 0;
    padding: 0;
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
img{
    width: 70px ;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.clock{
    position: relative;
    background-color: lightgray;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
}